version: '3'
services:
    radius-chat-server:
        build:
            context: radius-chat-server
            dockerfile: Dockerfile
        ports:
            - 8085:8085
            - 8080:8080
    radius-chat-client:
        build:
            context: radius-chat-client
            dockerfile: Dockerfile
        ports:
            - 3000:3000
        depends_on:
            -   radius-chat-server